﻿@model MovieViewModel

<div class="well well-lg" data-movieid="@Model.MovieId">
    <!-- When the movie has been posted by the current user, we should show an edit link-->
    @if (Model.ShowEditLink)
    {
        <a asp-action="Edit" asp-route-id="@Model.MovieId" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit Movie</a> 
    }
    <br />
    <h3>@Model.Title</h3>
    <br />
    @if (Model.PostedByApplicationUser != null)
    {
        var postedByApplicationUser = Model.PostedByApplicationUser;
        <div>
            <h4>Posted by: @Html.ActionLink(postedByApplicationUser.FullName, "PostedByUser", "Movies", new { id = postedByApplicationUser.Id })</h4>
            <span>@Model.DateOfPublication.ToString("dddd, dd MMMM yyyy HH:mm")</span>
        </div>
    }
    <br />
    @Model.Description
    <br />
    <br />
    @{
        // We should not allow for the user that has posted the movie (ShowEditLink -> true) to vote.
        // We should not allow for unauthenticate users to vote.
        var votingIsNotAllowed = !User.Identity.IsAuthenticated
                                 || Model.ShowEditLink;

    }

    @if (votingIsNotAllowed)
    {
        <button class="btn js-likeBtn" style="background-color: transparent;" disabled="disabled">
            <span class="glyphicon glyphicon-thumbs-up" style="color: green"> @Model.Likes</span>
        </button>
        <button class="btn js-hateBtn" style="background-color: transparent;" disabled="disabled">
            <span class="glyphicon glyphicon-thumbs-down" style="color: red"> @Model.Hates</span>
        </button>
    }
    else
    {
        if (Model.UserAlreadyLiked)
        {
            <button class="btn js-likeBtn" style="background-color: transparent;" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-up" style="color: green"> @Model.Likes</span>
            </button>
        }
        else
        {
            <button class="btn js-likeBtn" style="background-color: transparent;">
                <span class="glyphicon glyphicon-thumbs-up" style="color: green"> @Model.Likes</span>
            </button>
        }

        if (Model.UserAlreadyHated)
        {
            <button class="btn js-hateBtn" style="background-color: transparent;" disabled="disabled">
                <span class="glyphicon glyphicon-thumbs-down" style="color: red"> @Model.Hates</span>
            </button>
        }
        else
        {
            <button class="btn js-hateBtn" style="background-color: transparent;">
                <span class="glyphicon glyphicon-thumbs-down" style="color: red"> @Model.Hates</span>
            </button>
        }

        if (Model.UserAlreadyLiked || Model.UserAlreadyHated)
        {
            <button class="btn js-retractVote">Retract Vote</button>
        }
        else
        {
            <button class="btn js-retractVote" disabled="disabled">Retract Vote</button>
        }
    }
</div>
