﻿@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>

<div class="well well-sm">
    Sort by:
    <a asp-action="Index" asp-route-sortOrder="likes">Likes</a> |
    <a asp-action="Index" asp-route-sortOrder="hates">Hates</a> |
    <a asp-action="Index" asp-route-sortOrder="date-posted">Date</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> New Movie</a>
    </p>
}

@foreach (var movieViewModel in Model)
{
    @Html.Partial("_MoviePartial", movieViewModel)
}

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/rating.js"></script>
}